<section class="container">
  <div class="info-header">
    <h1>Adicionar Quiz</h1>
    <span>Crie um novo quiz com questões personalizadas.</span>
  </div>
  <div class="form-info">
    <span><i class="pi pi-calendar"></i>Informações do Quiz </span>
    <div class="quests-form">
      <div class="input-group">
        <label for="titulo">Título do Quiz:</label>
        <input
          id="titulo"
          type="text"
          pInputText
          [(ngModel)]="quiz.titulo"
          placeholder="Título do Quiz"
        />
      </div>
      <div class="input-group">
        <label for="descricao">Descrição do Quiz:</label>
        <textarea
          id="descricao"
          placeholder="Insira uma descrição para o quiz"
          rows="1"
          pTextarea
          [(ngModel)]="quiz.descricao"
        ></textarea>
      </div>
    </div>
  </div>
  <h2>Questões do Quiz</h2>
  <div class="quest" *ngFor="let questao of quiz.questoes; let i = index">
    <div class="quest-header">
      <h4>Questão {{ i + 1 }}</h4>
      <info-tipo-questao [tipoQuestao]="questao.tipo"></info-tipo-questao>
    </div>
    <hr />
    @if (questao.tipo !== 'IMAGEM'){
    <div class="input-group">
      <label for="titulo-quest">Título da Questão:</label>
      <input
        id="titulo-quest"
        type="text"
        pInputText
        [(ngModel)]="questao.titulo"
        placeholder="Título da Questão"
      />
    </div>
    }
    <div class="opcao-quest">
      <div class="input-group">
        <label for="tipo-quest">Qual o tipo da questão:</label>
        <p-select
          id="tipo-quest"
          [options]="tipoDeCampo"
          [(ngModel)]="questao.tipo"
          optionLabel="nome"
          optionValue="value"
          placeholder="Selecione o tipo de questão"
          class="w-full md:w-56"
        />
      </div>
      <p-button
        *ngIf="questao.tipo === 'MULTIPLA' || questao.tipo === 'UNICA'"
        label="Adicionar opção"
        icon="pi pi-plus"
        (click)="adicionarOpcao(i)"
      />
    </div>
    <div
      class="inputs-list"
      *ngIf="questao.tipo && (questao.tipo === 'UNICA' || questao.tipo === 'MULTIPLA')"
    >
      <p-inputgroup
        pSize="small"
        *ngFor="let opcao of questao.opcoes; let index = index; trackBy: trackByIndex"
      >
        <p-button
          label="Apagar"
          icon="pi pi-trash"
          (click)="removerOpcao(i, index)"
        />
        <input
          pInputText
          placeholder="Opção..."
          [(ngModel)]="questao.opcoes![index].texto"
        />
        <p-inputgroup-addon>
          <p-button
            [icon]="opcaoCorreta(i, index) ? 'pi pi-check' : 'pi pi-times'"
            (click)="alterarOpcaoCorreta(i, index)"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>

    <div class="info-input" *ngIf="questao.tipo === 'ESCALA'">
      <div class="input-group">
        <label for="min-quest">Valor mínimo:</label>
        <p-input-number
          id="min-quest"
          type="number"
          [min]="0"
          [max]="questao.high ? questao.high : 2"
          [(ngModel)]="questao.low"
          placeholder="Valor mínimo"
        />
      </div>
      <div class="input-group">
        <label for="max-quest">Valor máximo:</label>
        <p-input-number
          id="max-quest"
          type="number"
          [min]="questao.low ? questao.low : 1"
          [(ngModel)]="questao.high"
          placeholder="Valor máximo"
        />
      </div>
    </div>
    <div
      class="inputs-list"
      *ngIf="questao.tipo && (questao.tipo === 'VERDADEIRO_FALSO')"
    >
      <p-inputgroup pSize="small">
        <input pInputText value="Verdadeiro" [disabled]="true" />
        <p-inputgroup-addon>
          <p-button
            [icon]="opcaoCorretaVerdadeiroFalse(i, 'Verdadeiro') ? 'pi pi-check' : 'pi pi-times'"
            (click)="alterarOpcaoCorretaVerdadeiroFalso(i, 'Verdadeiro')"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
      <p-inputgroup pSize="small">
        <input pInputText value="Falso" [disabled]="true" />
        <p-inputgroup-addon>
          <p-button
            [icon]="opcaoCorretaVerdadeiroFalse(i, 'Falso') ? 'pi pi-check' : 'pi pi-times'"
            (click)="alterarOpcaoCorretaVerdadeiroFalso(i, 'Falso')"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
    @if (questao.tipo === 'PONTUACAO') {
    <input
      type="number"
      pInputText
      [(ngModel)]="questao.pontuacao"
      [min]="0"
      placeholder="Nivel de pontuação"
    />
    <p-fieldset legend="Icone de pontuação">
      <div
        style="display: flex; flex-wrap: wrap; gap: 15px; align-items: center"
      >
        <span style="display: flex; align-items: center; gap: 10px">
          <p-radiobutton
            id="STAR"
            [(ngModel)]="questao.iconPontuacao"
            [value]="'STAR'"
          />
          <label for="STAR">Estrela <i class="pi pi-star"></i></label>
        </span>
        <span style="display: flex; align-items: center; gap: 10px">
          <p-radiobutton
            id="HEART"
            [(ngModel)]="questao.iconPontuacao"
            [value]="'HEART'"
          />
          <label for="HEART">Coração <i class="pi pi-heart"></i></label>
        </span>
        <span style="display: flex; align-items: center; gap: 10px">
          <p-radiobutton
            id="THUMB_UP"
            [(ngModel)]="questao.iconPontuacao"
            [value]="'THUMB_UP'"
          />
          <label for="THUMB_UP">Polegar <i class="pi pi-thumbs-up"></i></label>
        </span>
      </div>
    </p-fieldset>
    } @if (questao.tipo === 'IMAGEM') {
    <div class="image-group">
      <div class="input-group">
        <label for="titulo-quest">Imagem da Pergunta:</label>
        <input
          id="titulo-quest"
          type="text"
          pInputText
          [(ngModel)]="questao.imagemUrl"
          placeholder="Imagem da Pergunta (URL)"
          [invalid]="!urlImagemValida(questao.imagemUrl || '') && (questao.imagemUrl || '').trim() !== ''"
          pTooltip="Opcional."
        />
      </div>
      <div class="input-group">
        <label for="titulo-quest">Descrição da Imagem:</label>
        <input
          id="titulo-quest"
          type="text"
          pInputText
          [(ngModel)]="questao.descricaoImagem"
          placeholder="Descrição da Imagem"
          [disabled]="!urlImagemValida(questao.imagemUrl || '')"
        />
      </div>
    </div>
    } @if (questao.tipo === 'DATA') {
    <div style="display: flex; gap: 10px; flex-wrap: wrap">
      <span
        style="display: flex; align-items: center; gap: 10px; flex-wrap: wrap"
      >
        <p-toggleswitch [(ngModel)]="questao.anos" id="anos" />
        <label for="anos">Incluir Anos?</label>
      </span>
      <span
        style="display: flex; align-items: center; gap: 10px; flex-wrap: wrap"
      >
        <p-toggleswitch [(ngModel)]="questao.tempo" id="tempo" />
        <label for="anos">Incluir Tempo?</label>
      </span>
    </div>
    }
    <ng-container
      *ngIf="questao.tipo == 'UNICA' || questao.tipo == 'MULTIPLA' || questao.tipo == 'VERDADEIRO_FALSO'"
    >
      <div class="pontos-questao">
        <div class="input-group">
          <label for="pontos-quest">Pontos:</label>
          <p-input-number
            id="pontos-quest"
            type="number"
            [(ngModel)]="questao.pontuacao"
            placeholder="Pontos"
          />
        </div>
      </div>
      <div class="feedback">
        <div class="input-group">
          <label for="feedback-quest">Caso acerte:</label>
          <textarea
            id="feedback-quest"
            pInputTextarea
            [(ngModel)]="questao.feedbackCorreto"
            placeholder="Feedback"
          ></textarea>
        </div>
        <div class="input-group">
          <label for="feedback-quest">Caso erre:</label>
          <textarea
            id="feedback-quest"
            pInputTextarea
            [(ngModel)]="questao.feedbackErro"
            placeholder="Feedback"
          ></textarea>
        </div>
      </div>
    </ng-container>
    <div class="footer-quest">
      <p-togglebutton
        [(ngModel)]="questao.obrigatorio"
        onLabel="Obrigatório"
        offLabel="Não Obrigatório"
        class="w-24"
      />
      <p-button
        label="Remover Questão"
        icon="pi pi-trash"
        severity="danger"
        (click)="removerQuestao(i)"
      />
    </div>
  </div>
  <div class="quest-empty" *ngIf="quiz.questoes.length === 0">
    <span>Nenhuma questão adicionada ainda.</span>
  </div>
</section>
<footer>
  <p-button
    label="Criar Quiz"
    [disabled]="!quizValido()"
    (click)="criarQuiz()"
    icon="pi pi-check"
  ></p-button>
  <p-splitbutton
    label="Adicionar Questão"
    class="ml-2"
    icon="pi pi-plus"
    (onClick)="adicionarQuestaoQuiz()"
    [model]="opcoesBotao"
  />
</footer>
<section *ngIf="mostrarTelaAcao" class="tela-acao erro">
  <h2>Erro ao criar formulário</h2>
  <span> Aparentemente ocorreu um erro ao criar o formulário </span>
</section>
<section *ngIf="carregando" class="tela-acao carregando">
  <h2>Carregando...</h2>
  <span> Por favor, aguarde enquanto o formulário eh criado </span>
  <p-progressSpinner></p-progressSpinner>
</section>
<p-dialog
  [style]="{ width: '50%' }"
  [(visible)]="visibilidadeDialog"
  header="Formulário criado com sucesso!"
  [modal]="true"
>
  <p-inputgroup>
    <p-button
      pTooltip="Copiar link"
      tooltipPosition="top"
      icon="pi pi-copy"
      severity="contrast"
      (click)="copiarLink()"
    />
    <input
      pInputText
      placeholder="Link do formulário"
      [(ngModel)]="urlQuiz"
      [disabled]="true"
    />
  </p-inputgroup>
</p-dialog>
<p-dialog
  [style]="{ width: '50%' }"
  [(visible)]="visibilidadesQuestoesSalvas"
  header="Questões salvas"
  [modal]="true"
  [draggable]="false"
>
  <p-table
    [value]="questoesSalvas"
    [rows]="5"
    [paginator]="true"
    [responsiveLayout]="'scroll'"
    stripedRows
    showGridlines
  >
    <ng-template #header>
      <tr>
        <th>Tipo</th>
        <th>Descrição</th>
        <th style="width: 75px; text-align: center">Utilizar?</th>
      </tr>
    </ng-template>
    <ng-template #body let-questao>
      <tr>
        <td>{{ questao.tipo | typeQuestEnumTransform }}</td>
        <td>
          @if (questao.tipo !== 'IMAGEM') { {{ questao.titulo }} } @else { {{
          questao.descricaoImagem }} }
        </td>
        <td style="text-align: center">
          <p-checkbox
            [inputId]="'questao' + questao.id"
            [value]="questao"
            [(ngModel)]="questoesSelecionadas"
            binary="false"
          ></p-checkbox>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="3">Nenhuma questão salva ainda.</td>
      </tr>
    </ng-template>
    <ng-template #footer>
      <tr>
        <td colspan="3">
          <p-button
            icon="pi pi-plus"
            [label]="questoesSelecionadas.length === 0 ? 'Selecione questões' : questoesSelecionadas.length > 1 ? 'Adicionar questões' : 'Adicionar questão'"
            (click)="usarQuestoesSelecionadas()"
            [disabled]="questoesSelecionadas.length === 0"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
