<p-dialog
  [(visible)]="visibilidadeDeGerarPDF"
  [draggable]="false"
  [modal]="true"
  [style]="{ width: '50%'}"
  (onHide)="fecharDialog()"
  header="Gerar PDF"
>
  <section>
    <div #pdfSection>
      <div class="header-form">
        <h1>{{formularioSelecionado?.titulo}}</h1>
        <p>{{formularioSelecionado?.descricao}}</p>
      </div>
      <br />
      <div class="body-form">
        <h2>Questões do Formulário</h2>
        <div class="quest-list">
          @for (quest of questoesFormatadas; let i = $index; track
          quest.id){
          <div class="quest-element">
            <strong>{{i+1}}. {{quest.titulo}}</strong>
            @if (quest.tipo == 'TEXTO'){
            <div class="response-element" style="height: 100px"></div>
            } @else if (quest.tipo == 'MULTIPLA'){
              @for (opcao of quest.opcoes; let i = $index; track opcao.valor){
                <div class="input-select">
                  <p-checkbox [(ngModel)]="quest.selecionado" [binary]="true">
                    {{opcao.valor}}
                  </p-checkbox>
                </div>
              }
            }
          </div>
          }
        </div>
      </div>
      <div class="footer-form">
        <div class="signature">
          <span>Assinatura do Responsável:</span>
        </div>
        <p>
          <span
            ><i class="pi pi-calendar"></i>Criado em
            {{formularioSelecionado?.dataCriacao | date : 'dd/MM/yyyy
            HH:mm'}}</span
          >
        </p>
      </div>
    </div>
  </section>
  <br />
  <p-button
    label="Gerar PDF"
    (click)="criarPDF()"
    icon="pi pi-file-pdf"
    severity="contrast"
    [style]="{width: '100%'}"
  ></p-button>
</p-dialog>
