section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 4px;

  div.header-form {
    text-align: center;

    h1 {
      color: #333;
    }

    p {
      color: #2d2d2d;
      font-size: 14px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.5em;
    }
  }

  div.body-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    h2 {
      color: #333;
      font-weight: 600;
    }

    div.quest-list {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      div.quest-element {
        padding: 0.5em 1em;
        border-left: 2px solid #333;
        display: flex;
        flex-direction: column;
        grid-gap: 0.5em;

        div.response-element {
          background-color: #cccccc32;
          border: 2px dashed #ccc;
          border-radius: 4px;
        }
      }
    }
  }

  div.footer-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    padding-top: 1em;
    margin-top: 0.5em;
    border-top: 1px solid #ccc;

    div.signature {
      flex: 1;
      border-bottom: 1px solid #ccc;
      padding-bottom: 0.5em;
      width: 100%;
      height: 5px;
      display: block;
      text-align: left;

      span {
        color: #2d2d2d;
        font-size: 14px;
      }
    }

    p {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 0.25em;
      }
    }
  }
}
