<p-confirmpopup />
<main>
  <p-fieldset legend="Configurações do gráfico">
    <div class="opcoes-graficos">
      <span>Escolha o tipo de gráfico</span>
      <p-selectbutton
        [options]="listaOpcoesGraficos"
        optionLabel="label"
        optionValue="value"
        (onChange)="selectGraph($event)"
        selectedOptions="graficoEscolhido"
        [(ngModel)]="graficoEscolhido"
      ></p-selectbutton>
    </div>
    <br />
    <hr />
    <br />
    <div class="lista-questoes">
      <span>Selecione a questão para gerar o gráfico</span>
      <div *ngFor="let category of questoesRespondidas" class="opcoes-questao">
        <p-radioButton
          [inputId]="category.idQuestao"
          name="category"
          [value]="category"
          [(ngModel)]="questaoSelecionada"
        />
        <label [for]="category.idQuestao" class="ml-2"
          >{{ category.titulo }}</label
        >
      </div>
    </div>
    <p-button
      label="Gerar Gráficos"
      severity="secondary"
      icon="pi pi-chart-bar"
      [disabled]="!enableGraphGeneration()"
      (click)="generateGraph()"
      [outlined]="true"
    />
  </p-fieldset>
  <p-fieldset
    legend="Informações dos gráficos"
    toggleable="true"
    [collapsed]="false"
    *ngIf="graficos.length > 0"
  >
    <p-panel
      [header]="(i+1) + '# - ' + grafico.datasets[0].label"
      [toggleable]="true"
      [collapsed]="i != 0"
      *ngFor="let grafico of graficos; let i = index"
    >
      <strong
        ><span>Informações do gráfico</span
        ><i
          class="pi pi-trash"
          pTooltip="Remover gráfico"
          (click)="removeGraph($event, i)"
        ></i
      ></strong>
      <br />
      <label [for]="'descricao-form-' + (i+1)"></label>
      <div style="display: flex; flex-direction: column; grid-gap: 1em">
        <div style="width: 100%; display: flex; grid-gap: 1em; flex-wrap: wrap; justify-content: space-between">
          <input
            [style]="{width: '50%'}"
            type="text"
            pInputText
            [(ngModel)]="grafico.titulo"
          />
          <p-select
            [options]="[{label: 'Esquerda', value: 'left'}, {label: 'Direita', value: 'right'}]"
            [(ngModel)]="grafico.posicao"
          ></p-select>
        </div>
        <textarea
          pTextarea
          [id]="'descricao-form-' + (i+1)"
          [(ngModel)]="grafico.descricao"
          (input)="updateGraph(i)"
          placeholder="Insira uma descrição para o gráfico"
          style="
            width: 100%;
            resize: vertical;
            max-height: 200px;
            min-height: 100px;
          "
          [maxLength]="200"
        ></textarea>
      </div>
    </p-panel>
  </p-fieldset>
  <p-fieldset
    legend="Visualizar gráficos"
    toggleable="true"
    [collapsed]="false"
    *ngIf="enablePDFGeneration()"
    [style]="{maxWidth: '60vw', overflowX: 'hidden'}"
  >
    <div class="lista-graficos" #pdfGraph>
      <div *ngFor="let grafico of graficos; let i = index">
        <strong style="text-align: center">{{grafico.titulo}}</strong>
        <div class="corpo-grafico">
          <div
            class="texto-grafico-left"
            *ngIf="grafico.posicao === 'left' && grafico.descricao !== ''"
          >
            <span> {{ grafico?.descricao }} </span>
          </div>
          <div class="grafico">
            <p-chart
              [type]="graficoEscolhido"
              [data]="grafico"
              [options]="grafico.options"
              [style]="{ maxWidth: '500px', width: '100%' }"
            ></p-chart>
          </div>
          <div
            class="texto-grafico-right"
            *ngIf="grafico.posicao === 'right' && grafico.descricao !== ''"
          >
            <span> {{ grafico?.descricao }} </span>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>
  <p-footer>
    <p-button
      label="Gerar PDF"
      severity="secondary"
      [outlined]="true"
      icon="pi pi-file"
      (click)="generatePDFOfGraph()"
      [disabled]="!enablePDFGeneration()"
    />
  </p-footer>
</main>
