main {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
}

.opcoes-graficos {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5em;
}

.lista-questoes {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5em;
  margin-bottom: 0.5em;
}

.opcoes-questao {
  display: flex;
  align-items: center;
  grid-gap: 0.5em;
  text-align: center;
}

.lista-graficos {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5em;
}

.lista-graficos h3{
    text-align: center;
}

strong {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

strong i {
  cursor: pointer;
  padding: 0.75em;
  color: #fff;
  border-radius: 50%;
}

.corpo-grafico {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.corpo-grafico .texto-grafico-left {
  text-align: right;
  max-width: 300px;
  width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
}

.corpo-grafico .texto-grafico-right {
  text-align: left;
  max-width: 300px;
  width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
}
