<main class="page-content">
  <header class="header-page">
    <div class="info-header">
      <h1>Gerenciador de Quizzes</h1>
      <p>Gerencie seus quizzes do Google Forms de forma eficiente</p>
    </div>
    <p-button
      label="Novo Quiz"
      (click)="criarNovoQuiz()"
      icon="pi pi-plus"
      severity="contrast"
    ></p-button>
  </header>

  <section class="forms-content">
    <div class="forms-list">
      <div class="fillter-form">
        <div class="input-group">
          <i class="pi pi-search"></i>
          <input
            type="text"
            placeholder="Filtrar quizzes..."
            (input)="filtarQuiz($event.target)"
          />
        </div>
      </div>
      <div class="forms-grid">
        <ng-container
          *ngFor="let quiz of listarQuizzes; let idx = index; trackBy: trackByQuizId"
        >
          <div
            [ngClass]="quizSelecionadoPorId === quiz.idQuiz ? 'form-element selected' : 'form-element'"
            (click)="selecionarQuiz(quiz.idQuiz)"
          >
            <div class="header-form">
              <span>{{ quiz.titulo }}</span>
              <p>{{ quiz.descricao }}</p>
            </div>
            <div class="info-form">
              <span
                >Criado em {{ quiz.dataCriacao | date: 'dd/MM/yyyy HH:mm'
                }}</span
              >
              <span>ID: {{ quiz.idQuiz }}</span>
            </div>
          </div>
        </ng-container>
        <p
          *ngIf="listarQuizzes.length === 0"
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex: 1;
          "
        >
          Nenhum quiz encontrado
        </p>
      </div>
    </div>

    <div class="form-select">
      @if (carregandoQuiz && !quizSelecionado) {
      <div class="loading">
        <p-progressSpinner></p-progressSpinner>
        <span>Carregando quiz...</span>
      </div>
      } @else if (!quizSelecionado && !carregandoQuiz) {
      <p
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex: 1;
        "
      >
        {{listaQuizzes.length === 0 ? 'Nenhum quiz encontrado' : 'Problemas ao
        carregar quiz'}}
      </p>
      }
      <div *ngIf="quizSelecionado && !carregandoQuiz">
        <div class="header-form-selected">
          <h3>{{ quizSelecionado.titulo }}</h3>
          <span>{{ quizSelecionado.descricao }}</span>
          <p>
            <span
              ><i class="pi pi-calendar"></i> Criado em {{
              quizSelecionado.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</span
            >
          </p>
          <div class="btn-list">
            <p-button
              label="Gerar PDF"
              (click)="abrirDialogDePDF(quizSelecionado)"
              icon="pi pi-file-pdf"
              severity="contrast"
              variant="outlined"
            />
            <p-button
              label="Gerar Excel"
              (click)="exportarQuizParaExcel()"
              icon="pi pi-file-excel"
              severity="contrast"
              variant="outlined"
            />
            <p-button
              label="Acessar Formulário"
              (click)="acessarQuiz()"
              icon="pi pi-external-link"
              severity="contrast"
              variant="outlined"
            />
            <p-button
              label="Gerar Gráficos"
              (click)="abrirDialogDeGrafico()"
              icon="pi pi-chart-line"
              severity="contrast"
              variant="outlined"
            />
          </div>
        </div>

        <div class="body-form-selected">
          <div class="list-question-form">
            <div class="header-question-list">
              <h3>
                <i class="pi pi-list"></i>
                {{ respostasOuQuestoes !== 'quest' ? 'Respostas do Quiz' :
                'Questões do Quiz' }}
              </h3>
              <div style="display: flex; flex-wrap: wrap; gap: 10px">
                <p-button
                  tooltipPosition="top"
                  pTooltip="Caso hajam problemas, acesse o quiz por essa opção!"
                  (click)="getLinkManualQuiz()"
                  icon="pi pi-cog"
                  severity="contrast"
                />
                <p-button
                  icon="pi pi-eye"
                  [label]="respostasOuQuestoes === 'responses' ? 'Ver Questões' : (quizSelecionado.questoesFormatadas.respostas?.length === 0 ? 'Sem respostas' : 'Ver Respostas')"
                  severity="contrast"
                  [disabled]="!quizSelecionado || quizSelecionado.questoesFormatadas.respostas?.length === 0"
                  (click)="mudarRespostasOuQuestoes()"
                ></p-button>
              </div>
            </div>
            <ng-container
              *ngIf="respostasOuQuestoes === 'quest' && quizSelecionado"
            >
              <div
                *ngFor="let quest of quizSelecionado.questoesFormatadas.questoes; let i = index"
                class="quest-element"
              >
                <div class="header-question">
                  <strong>{{ i + 1 }}º Questão - {{ quest.titulo }}</strong>
                  <span class="type-quest">{{ quest.tipo }}</span>
                </div>
                <span class="responses">
                  <i class="pi pi-eye"></i> Respostas - {{
                  getQuantidadeRespostas(quest.id) }}
                </span>
              </div>
            </ng-container>

            <ng-container
              *ngIf="respostasOuQuestoes === 'responses' && quizSelecionado"
            >
              <section class="response-sends">
                <div class="header-response">
                  <p-button
                    icon="pi pi-angle-left"
                    severity="secondary"
                    [disabled]="indexByRespostas === 0"
                    (click)="voltarResposta()"
                  ></p-button>
                  <span
                    ><i class="pi pi-user"></i>{{ indexByRespostas + 1 }}ª -
                    Resposta Individual</span
                  >
                  <p-button
                    icon="pi pi-angle-right"
                    severity="secondary"
                    [disabled]="indexByRespostas === respostasPorUsuario.length - 1"
                    (click)="avancarResposta()"
                  ></p-button>
                </div>
                <div class="pontuacao-candidato">
                  <i class="pi pi-star"></i>
                  Pontuação total: {{
                  getPontuacaoPorResposta(getRespostaSelecionadaPorIndex).total
                  }} pts
                  <br />
                  <i class="pi pi-star"></i>
                  Pontuação maxima: {{
                  getPontuacaoPorResposta(getRespostaSelecionadaPorIndex).max }}
                  pts
                </div>

                <div class="questions-list">
                  <ng-container
                    *ngFor="let response of getRespostaSelecionadaPorIndex.respostas; let i = index"
                  >
                    <div class="response-quest-element">
                      <div class="header-quest">
                        <strong>
                          <span class="quest-number">{{ i + 1 }}</span> {{
                          getTituloQuestaoPorId(response.idQuestao) }}
                        </strong>
                        <div class="type-quest">
                          {{ getTipoQuestaoPorIdQuestao(response.idQuestao) }}
                        </div>
                      </div>
                      <p>Resposta - {{ response.valor }}</p>
                    </div>
                  </ng-container>
                </div>
              </section>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<p-dialog
  [draggable]="false"
  [(visible)]="visibilidadeDeCriarGraficos"
  [modal]="true"
  [style]="{ width: '50%' }"
>
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span
        style="
          display: flex;
          align-items: center;
          gap: 0.25em;
          font-size: 1.2em;
        "
      >
        <i class="pi pi-chart-bar"></i> Gerar Gráfico
      </span>
    </div>
  </ng-template>
  <!-- <gerar-graficos [formSelected]="quizSelecionado"></gerar-graficos> -->
</p-dialog>

<p-dialog
  [draggable]="false"
  [(visible)]="visibilidadeDeGerarPDF"
  [modal]="true"
  [style]="{ width: '50%' }"
>
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span
        style="
          display: flex;
          align-items: center;
          gap: 0.25em;
          font-size: 1.2em;
        "
      >
        <i class="pi pi-file-pdf"></i> Gerar PDF do Quiz
      </span>
    </div>
  </ng-template>
  <!-- <gerar-pdf [formSelected]="quizPdfData"></gerar-pdf>  -->
</p-dialog>
