<main>
  <div>
    <h1>Questões Salvas</h1>
    <p>Aqui você pode visualizar todas as questões salvas</p>
  </div>
  <p-table
    style="border: 1px solid #ccc;"
    [value]="listaQuestoesSalvas"
    stripedRows
    [rows]="5"
    [paginator]="true"
  >
    <ng-template pTemplate="caption">
      <p-button
        (click)="abrirDialogAdcionarPergunta()"
        label="Adicionar Nova Questão"
      />
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Tipo</th>
        <th style="text-align: center; width: 200px">Opções</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-question>
      <tr>
        <td>{{ question.id }}</td>
        <td>
          @if (question.tipo !== 'IMAGEM') { {{ question.titulo }} } @else { {{
          question.descricaoImagem }} }
        </td>
        <td>{{ question.tipo | typeQuestEnumTransform }}</td>
        <td
          style="
            display: flex;
            gap: 0.5em;
            justify-content: center;
            align-items: center;
          "
        >
          <p-splitbutton
            icon="pi pi-pencil"
            label="Editar"
            (onClick)="mudarVisibilidadeDialogEditarQuestao(question)"
            (onDropdownClick)="selecionarQuestao($event, question)"
            [model]="opcoesMenu"
            severity="primary"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">
          <span *ngIf="!carregandoQuestoes && listaQuestoesSalvas.length === 0">
            Nenhuma Questão salva
          </span>
          <div
            *ngIf="carregandoQuestoes"
            style="display: grid; place-items: center"
          >
            <p-progressSpinner></p-progressSpinner>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #footer>
      <tr>
        <td colspan="6">
          <span style="font-size: 14px; color: #333">
            Você possui {{ listaQuestoesSalvas ? listaQuestoesSalvas.length : 0
            }} questões salvas!
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</main>
<p-dialog
  [header]="modoDialog === 'edit' ? 'Editar Questão' : 'Novo modelo de Questão'"
  [modal]="true"
  [draggable]="false"
  [(visible)]="visibilidadeDialogAdicionarQuestao"
  [style]="{'maxWidth': '600px', 'width': '100%'}"
>
  <div class="quests-form">
    <div class="input-group">
      <label for="titulo-quest">Título da Questão:</label>
      <input
        id="titulo-quest"
        type="text"
        pInputText
        [(ngModel)]="novaQuestao.titulo"
        placeholder="Título da Questão"
      />
    </div>
    <div class="opcao-quest">
      <div class="input-group">
        <label for="tipo-quest">Qual o tipo da Questão:</label>
        <p-select
          id="tipo-quest"
          [options]="tipoDeCampo"
          [(ngModel)]="novaQuestao.tipo"
          optionLabel="nome"
          optionValue="value"
          placeholder="Selecione o tipo de Questão"
        />
      </div>
      <p-button
      [style]="{'margin-top': '10px', 'width': '100%'}"
        *ngIf="novaQuestao.tipo === 'MULTIPLA' || novaQuestao.tipo === 'UNICA'"
        label="Adicionar opção"
        icon="pi pi-plus"
        (click)="adicionarOpcao()"
      />
    </div>
    <div
      class="inputs-list"
      *ngIf="novaQuestao.tipo && (novaQuestao.tipo === 'VERDADEIRO_FALSO')"
    >
      <p-inputgroup pSize="small">
        <input pInputText value="Verdadeiro" [disabled]="true" />
        <p-inputgroup-addon>
          <p-button
            [icon]="opcaoCorretaVerdadeiroFalse('Verdadeiro') ? 'pi pi-check' : 'pi pi-times'"
            (click)="mudarOpcaoCorretaVerdadeiroFalso('Verdadeiro')"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
      <p-inputgroup pSize="small">
        <input pInputText value="Falso" [disabled]="true" />
        <p-inputgroup-addon>
          <p-button
            [icon]="opcaoCorretaVerdadeiroFalse('Falso') ? 'pi pi-check' : 'pi pi-times'"
            (click)="mudarOpcaoCorretaVerdadeiroFalso('Falso')"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
    <div
      class="inputs-list"
      *ngIf="novaQuestao.tipo && (novaQuestao.tipo === 'UNICA' || novaQuestao.tipo === 'MULTIPLA')"
    >
      <p-inputgroup
        pSize="small"
        *ngFor="let opcao of novaQuestao.opcoes; let index = index; trackBy: trackByIndex"
      >
        <p-button
          label="Apagar"
          icon="pi pi-trash"
          (click)="removerOpcao(index)"
        />
        <input
          pInputText
          placeholder="Opção..."
          [(ngModel)]="novaQuestao.opcoes![index].texto"
        />
        <p-inputgroup-addon>
          <p-button
            [icon]="opcaoCorreta(index) ? 'pi pi-check' : 'pi pi-times'"
            (click)="mudarOpcaoCorreta(index)"
          />
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
    <div class="info-input" *ngIf="novaQuestao.tipo === 'ESCALA'">
      <div class="input-group">
        <label for="min-quest">Valor mínimo:</label>
        <p-input-number
          id="min-quest"
          type="number"
          [min]="0"
          [max]="novaQuestao.high ? novaQuestao.high : 2"
          [(ngModel)]="novaQuestao.low"
          placeholder="Valor mínimo"
        />
      </div>
      <div class="input-group">
        <label for="max-quest">Valor máximo:</label>
        <p-input-number
          id="max-quest"
          type="number"
          [min]="novaQuestao.low ? novaQuestao.low : 1"
          [(ngModel)]="novaQuestao.high"
          placeholder="Valor máximo"
        />
      </div>
    </div>
    <ng-container
      *ngIf="novaQuestao.tipo == 'UNICA' || novaQuestao.tipo == 'MULTIPLA' || novaQuestao.tipo == 'VERDADEIRO_FALSO'"
    >
      <div class="pontos-questao">
        <div class="input-group">
          <label for="pontos-quest">Pontos:</label>
          <p-input-number
            id="pontos-quest"
            type="number"
            [(ngModel)]="novaQuestao.pontuacao"
            placeholder="Pontos"
          />
        </div>
      </div>
      <div class="feedback">
        <div class="input-group">
          <label for="feedback-quest">Caso acerte:</label>
          <textarea
            id="feedback-quest"
            pInputTextarea
            [(ngModel)]="novaQuestao.feedbackCorreto"
            placeholder="Feedback"
          ></textarea>
        </div>
        <div class="input-group">
          <label for="feedback-quest">Caso erre:</label>
          <textarea
            id="feedback-quest"
            pInputTextarea
            [(ngModel)]="novaQuestao.feedbackErro"
            placeholder="Feedback"
          ></textarea>
        </div>
      </div>
    </ng-container>
    @if (novaQuestao.tipo === 'IMAGEM') {
    <div class="image-group">
      <div class="input-group">
        <label for="titulo-quest">Imagem da Questão:</label>
        <input
          id="titulo-quest"
          type="text"
          pInputText
          [(ngModel)]="novaQuestao.imagem"
          placeholder="Imagem da Questão (URL)"
          [invalid]="!urlImagemValida(novaQuestao.imagemUrl || '') && (novaQuestao.imagemUrl || '').trim() !== ''"
          pTooltip="Opcional."
        />
      </div>
      <div class="input-group">
        <label for="titulo-quest">Descrição da Imagem:</label>
        <input
          id="titulo-quest"
          type="text"
          pInputText
          [(ngModel)]="novaQuestao.descricaoImagem"
          placeholder="Descrição da Imagem"
          [disabled]="!urlImagemValida(novaQuestao.imagemUrl || '')"
        />
      </div>
    </div>
    }
    <p-button
      [label]="modoDialog == 'edit' ? 'Editar Questão' : 'Adicionar Questão'"
      [style]="{ marginTop: '10px', width: '100%' }"
      icon="pi pi-check"
      (click)="modoDialog === 'edit' ? editarQuestaoSalva() : adicionarQuestaoSalva()"
      [disabled]="!questaoValida()"
    /></div
></p-dialog>
