main {
  padding: 1.5em;
  color: #333;
  display: flex;
  flex-direction: column;
  grid-gap: 1.5em;
}

div.quests-form {
  display: flex;
  flex-direction: column;
  grid-gap: 1em;

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    label {
      margin-bottom: 0.25em;
      font-weight: bold;
      color: #333;
    }

    textarea {
      resize: vertical;
    }
  }

  h2 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
  }

  div.quest {
    text-align: left;
    width: 80%;
    max-width: 800px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    grid-gap: 0.5em;

    div.quest-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      h4 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 0.5em;
        color: #333;
      }

      i#remover {
        color: #fff;
        background-color: #d72632a8;
        padding: 0.75em;
        border-radius: 50%;
        border: 2px solid #d72631;
        font-size: 1em;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .input-group {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.25em;
        font-weight: bold;
        color: #333;
      }
    }

    .info-input {
      display: flex;
      grid-gap: 1em;
      flex-wrap: wrap;

      .input-group {
        flex: 1;
      }
    }
  }

  div.quest-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 1em;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  padding: 1em;
}

section.tela-acao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  grid-gap: 0.1em;
  transition: 0.4s;
}

section.tela-acao.erro {
  background-color: rgb(255, 0, 0);
}

section.tela-acao.sucesso {
  background-color: rgb(0, 255, 0);
}

section.tela-acao.carregando {
  background-color: rgba(0, 0, 0, 0.267);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  grid-gap: 0.1em;
  transition: 0.4s;
  backdrop-filter: blur(5px);
}

span#urlForm {
  font-size: 1.2em;
  color: #333;
  margin-top: 1em;
  grid-gap: 0.5em;
  display: flex;
  align-items: center;
  background-color: rgba(6, 123, 6, 0.42);
  padding-right: 10px;

  i {
    color: #fff;
    font-size: 1.5em;
    padding: 15px;
    background-color: rgb(6, 123, 6);
    transition: background-color 0.3s;
  }

  a {
    color: #333;
    text-decoration: none;
  }
}

.footer-quest {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-gap: 1em;
}

.opcao-quest {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1em;
  align-items: end;

  .input-group {
    flex: 1;
  }
}

.inputs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 250px;
  overflow-y: scroll;
  grid-gap: 0.25em;
}

.image-group {
  display: flex;
  align-items: center;
  grid-gap: 1em;

  .input-group {
    flex: 1;
  }
}

span.not-image{
  color: #f00;
  font-weight: 600;
}