<main class="page-content">
  <header class="header-page">
    <div class="info-header">
      <h1>Gerenciador de Formulários</h1>
      <p>Gerencie seus formulários do Google Forms de forma eficiente</p>
    </div>
    <p-button
      label="Novo Formulário"
      (click)="criarNovoFormulario()"
      icon="pi pi-plus"
      severity="contrast"
    />
  </header>
  <section class="forms-content">
    <div class="forms-list">
      <div class="fillter-form">
        <div class="input-group">
          <i class="pi pi-search"></i>
          <input
            type="text"
            placeholder="Filtrar formulários..."
            (input)="filtrarFormularios($event.target)"
          />
        </div>
      </div>
      <div class="forms-grid">
        @for (form of listaFormularios; track form.idFormulario) {
        <div
          [ngClass]="formularioSelecionadoId == form.idFormulario ? 'form-element selected' : 'form-element'"
          (click)="selecionarFormularioPorId(form.idFormulario)"
        >
          <div class="header-form">
            <span>{{form.titulo}}</span>
            <p>{{form.descricao}}</p>
          </div>
          <div class="info-form">
            <span
              >Criado em {{form.dataCriacao| date : 'dd/MM/yyyy HH:mm'}}</span
            >
            <span>ID: {{form.idFormulario}}</span>
          </div>
        </div>
        } @empty {
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
          "
        >
          <p>Nenhum formulário encontrado</p>
        </div>
        }
      </div>
    </div>
    <div class="form-select">
      @if (carregandoFormularioSelecionado && !formularioSelecionado){
      <div class="loading">
        <p-progressSpinner></p-progressSpinner>
        <span>Carregando formulário...</span>
      </div>
      } @else if (!formularioSelecionado && !carregandoFormularioSelecionado) {
      <p
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex: 1;
        "
      >
        Problemas ao carregar formulário
      </p>
      } @if (formularioSelecionado && !carregandoFormularioSelecionado) {
      <div class="header-form-selected">
        <h3
          style="display: flex; justify-content: space-between; flex-wrap: wrap"
        >
          {{getFormularioSelecionado.titulo}}
          <span id="form-published">{{formularioSelecionado.ativo ? 'Publicado' : 'Não Publicado'}}</span>
        </h3>
        <span>{{getFormularioSelecionado.descricao}}</span>
        <p>
          <span
            ><i class="pi pi-calendar"></i>Criado em
            {{getFormularioSelecionado.dataCriacao | date : 'dd/MM/yyyy HH:mm'}}</span
          >
        </p>
        <div class="btn-list">
          <button (click)="criarPDF()">
            <i class="pi pi-file-pdf"></i>
            Gerar PDF
          </button>
          <button (click)="exportarFormularioParaExcel()">
            <i class="pi pi-file-excel"></i>
            Gerar Excel
          </button>
          <button (click)="abrirFormulario()">
            <i class="pi pi-external-link"></i>
            Acessar Formulário
          </button>
          <button (click)="criarGraficos()">
            <i class="pi pi-chart-line"></i>
            Gerar Gráficos
          </button>
        </div>
      </div>
      <div class="body-form-selected">
        <div class="list-question-form">
          <div class="header-question-list">
            <h3>
              <i class="pi pi-list"></i>
              {{respostasOuPerguntas != 'quest' ? 'Respostas do Formulário' :
              'Questões do Formulário'}}
            </h3>
            <p-button
              icon="pi pi-eye"
              [label]="buscarLabelBotao"
              severity="contrast"
              [disabled]="!formularioSelecionado || formularioSelecionado.respostasPorUsuario?.length === 0"
              (click)="mudarRespostasOuPerguntas()"
            />
          </div>
          @if (respostasOuPerguntas == 'quest') { @if (formularioSelecionado != null){
          <div
            class="quest-element"
            *ngFor="let quest of getPerguntas; let i = index"
          >
            <div class="header-question">
              <strong>{{ i + 1 }}º Questão - {{ quest.titulo }}</strong>
              <span class="type-quest">{{ quest.tipo }}</span>
            </div>
            <span class="responses">
              <i class="pi pi-eye"></i>
              Respostas - {{ getQuantidadeRespostas(quest.id) }}
            </span>
          </div>
          } } @if (respostasOuPerguntas == 'responses') { @if (formularioSelecionado !=
          null){
          <section class="response-sends">
            <div class="header-response">
              <p-button
                icon="pi pi-angle-left"
                severity="secondary"
                [disabled]="indexPorResposta === 0"
                (click)="voltarResposta()"
              />
              <span
                ><i class="pi pi-user"></i>{{indexPorResposta + 1}}ª - Resposta
                Individual</span
              >
              <p-button
                icon="pi pi-angle-right"
                severity="secondary"
                [disabled]="indexPorResposta === responsesByUser.length - 1"
                (click)="avancarResposta()"
              />
            </div>
            <div class="questions-list">
              @for(response of getRespostaSelecionadaPorIndex.respostas; let i =
              $index; track response.idResposta){
              <div class="response-quest-element">
                <div class="header-quest">
                  <strong
                    ><span class="quest-number">{{i + 1}}</span>
                    {{response.titulo}}</strong
                  >
                  <div class="type-quest">
                    {{getTipoPerguntaPorIdPergunta(response.idQuestao)}}
                  </div>
                </div>
                <p>Resposta - {{response.valor}}</p>
              </div>
              }
            </div>
          </section>
          }}
        </div>
      </div>
      }
    </div>
  </section>
</main>
<!-- <app-gerar-graficos
  [formularioSelecionado]="formularioSelecionado"
  [(visibilityOfGenerateGraphic)]="visibilidadeDeCriarGraficos"
></app-gerar-graficos> -->
<!-- <app-gerar-pdf
  [formularioSelecionado]="formPdfData"
  [(visibilidadeDeGerarPDF)]="visibilidadeDeGerarPDF"
></app-gerar-pdf> -->
