main {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    color: #333;
    border-bottom: 1px solid #ccc;

    div.info-header {
      display: flex;
      flex-direction: column;
      grid-gap: 0.15rem;

      p {
        color: #a6a6a6;
        font-weight: lighter;
        font-size: 14px;
      }
    }
  }

  section.cards-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 0;
    border-bottom: 1px solid #ccc;

    div.card {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 1em;
      flex: 1;
      margin: 0.5em;
      min-height: 150px;
    }
  }

  section.forms-content {
    flex: 1;
    display: flex;
    min-height: 0;

    div.forms-list {
      display: flex;
      grid-gap: 0.5rem;
      flex-direction: column;
      flex-wrap: wrap;
      width: 50%;
      border-right: 1px solid #ccc;
      min-height: 0;

      div.fillter-form {
        border-bottom: 1px solid #ccc;
        div.input-group {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          grid-gap: 0.5em;
          margin: 0.5em;
          border: 1px solid #ccc;
          padding: 0.25em 1em;

          i {
            color: #a6a6a6;
          }

          input {
            flex: 1;
            padding: 0.5em;
            border: none;
            outline: none;
            border-radius: 4px;
            font-size: 14px;
          }
        }
      }

      div.forms-grid {
        flex: 1;
        overflow-y: auto;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        div.form-element {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1em;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 15px;
          cursor: pointer;

          &.selected {
            background-color: #f6f6f6;
            border: #000000 1px solid;
          }

          div.header-form {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5em;

            span {
              font-weight: 500;
              color: #000;
            }

            p {
              font-size: 12px;
              color: #333;
            }
          }

          div.info-form {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            color: #a6a6a6;
          }
        }
      }
    }

    div.form-select {
      flex: 1;
      min-height: 0;
      display: flex;
      flex-direction: column;

      div.info-form-select {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-left: 1px solid #ccc;
        padding: 1em;
      }

      div.loading {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
      }

      div.header-form-selected {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1em;
        height: auto;
        grid-gap: 0.5em;
        border-bottom: 1px solid #ccc;

        span {
          color: #a6a6a6;
          font-size: 15px;
          font-weight: lighter;
        }

        p {
          display: flex;
          align-items: center;
          gap: 0.5em;
          color: #a6a6a6;
          justify-content: space-between;
          font-size: 12px;

          span {
            display: flex;
            align-items: center;

            i {
              margin-right: 0.35em;
            }
          }
        }

        div.btn-list {
          display: flex;
          grid-gap: 0.5em;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-gap: 0.5em;
            border: 1px solid #a6a6a6;
            border-radius: 4px;
            padding: 0.5em 1em;
            color: #a6a6a6;
            cursor: pointer;
            flex: 1;
            background-color: transparent;
            transition: 0.4s all ease-in-out;

            &:hover {
              background-color: #f3f3f3;
            }
          }
        }
      }

      div.body-form-selected {
        flex: 1;
        overflow-y: auto;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        min-height: 0;

        div.list-question-form {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
          padding: 1em;
          border: 1px solid #ccc;
          border-radius: 4px;
          flex: 1;
          min-height: 0;
          overflow: auto;

          div.header-question-list {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
              display: flex;
              align-items: center;
              grid-gap: 0.5em;
            }
          }

          div.quest-element {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            padding: 1em;
            border: 1px solid #ccc;
            border-radius: 4px;

            div.header-question {
              display: flex;
              align-items: center;
              justify-content: space-between;

              span.type-quest {
                font-size: 12px;
                color: #333;
                border: 1px solid #333;
                padding: 0.25em 0.5em;
                border-radius: 4px;
                text-align: center;
                font-weight: 500;
              }
            }

            span.responses {
              color: #a6a6a6;
              font-size: 14px;
              font-weight: lighter;
              display: flex;
              align-items: center;
              grid-gap: 0.5em;
            }
          }

          section.response-sends {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            div.header-response {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc;
              padding: 0.5em 0;

              span {
                display: flex;
                align-items: center;
                grid-gap: 0.5em;
              }
            }

            div.questions-list {
              display: flex;
              flex-direction: column;
              gap: 0.5em;
              padding: 0.5em;

              div.response-quest-element {
                display: flex;
                flex-direction: column;
                gap: 0.25em;
                border-bottom: 1px solid #ccc;
                padding-bottom: 0.5em;

                div.header-quest {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  flex-wrap: wrap;

                  div.type-quest {
                    font-size: 12px;
                    color: #333;
                    border: 1px solid #333;
                    padding: 0.25em 0.5em;
                    border-radius: 4px;
                    max-width: 100px;
                    width: auto;
                    text-align: center;
                    font-weight: 500;
                    right: 0;
                    float: right;
                  }

                  strong {
                    display: flex;
                    align-items: center;
                    grid-gap: 0.5em;

                    span.quest-number {
                      font-size: 14px;
                      color: #333;
                      font-weight: 500;
                      width: 25px;
                      height: 25px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border: 1px solid #a6a6a6;
                      border-radius: 4px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
